*
* */* ================
   Global
   ================ */

h1 {
    font-weight: normal;
}
h3 {
    color: #26669C;
}
a {
    color: #0297AD;
    text-decoration: none;
}
.emph_blue {
    color: #26669C;
}
.emph_red {
    color: #D72B2B;
}
.top {
    display: inline-block;
    vertical-align: top;
}
/* ================
 *  *  *    Layout
 *   *   *       ================ */

section {
    width: 970px;
    margin: auto;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}
aside,
main {
    background: linear-gradient(#E3E3E3, #FFFFFF 150px);
}
/* Header
 *  *  *    ================ */

header {
    display: block;
}
header img {
    position: relative;
    top: 60px;
    width: 100px;
}
header h1 {
    display: inline;
    position: relative;
    top: 30px;
    font-size: 50px;
}
header h2 {
    color: #ffffff;
    background: linear-gradient(#15649B, #5384AA, #165F99);
    font-size: 33px;
    font-weight: normal;
    padding: 10px;
}
/* Aside
 *  *  *    ================ */

aside {
    position: relative;
    bottom: 30px;
    display: inline-block;
    padding: 25px 55px 20px 5px;
    vertical-align: top;
    width: 230px;
}
aside h3 {
    color: #000;
    margin-bottom: 10px;
}
aside p {
    font-weight: bold;
    margin-bottom: 20px;
}
aside a {
    background: linear-gradient(#5B95C0, #356E9A);
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    color: #FFF;
    display: block;
    font-size: 20px;
    margin: 6px 0px;
    padding: 8px;
    text-align: center;
}
aside .orange a {
    background: linear-gradient(#EBB672, #EF7300);
}
aside hr {
    margin: 28px 0px;
}
nav {
    background-image: url(www-images/images//ad_background.png);
    box-shadow: 3px 3px 5px #000;
    color: #FFF;
    padding: 20px 0px;
}
nav p {
    font-size: 25px;
    font-weight: normal;
    line-height: 33px;
    margin: 0px;
    text-align: center;
}
nav img {
    display: block;
    margin: auto;
    width: 120px;
}
nav a {
    background: linear-gradient(#7CCCDA, #0AB7D2);
    margin: 20px;
    padding: 6px;
}
/* Main
 *  *  *    ================ */

main {
    position: relative;
    bottom: 30px;
    display: inline-block;
    margin-left: -5px;
    padding: 5px 15px;
    width: 650.5px;
}
main h3 {
    font-size: 20px;
    margin: 7px 0px;
}
main ul,
ol {
    margin: 5px 0px 10px 30px;
}
main li {
    margin: 6px 0px;
}
main img {
    display: block;
    margin: auto;
    width: 300px;
}
#home img {
    display: inline;
    position: relative;
    top: 3px;
    width: 20px;
}
#contact {
    display: inline-block;
    margin: 0px 0px 10px 377px;
    text-align: right;
    vertical-align: top;
    width: 200px;
}
#contact img {
    float: left;
    width: 46px;
}
#contact h4 {
    margin: 0px;
    color: #06C0DD;
    font-size: 24px;
}
#contact p {
    font-size: 10px;
    margin: 0px;
}
#box {
    border: 6px solid #0087DD;
    padding: 10px;
}
#box_content {
    display: inline-block;
    vertical-align: top;
    width: 459px;
}
#box img {
    display: inline-block;
    margin-right: 15px;
    width: 140px;
}
#box p {
    margin-bottom: 5px;
}

