<head>
      <title>Ninjas</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
      <script type="text/javascript" src="{{ url_for('static', filename='js/alert.js') }}"></script>
      <img src="{{ url_for('static', filename='img/ninja.jpg') }}">
</head>
<html>
  <body>
    <h3>“Imagine that the year is 1600. Two of your enemies are fighting a battle, so you send a couple of guys dressed as farmers to the area to watch the battle and report back to about what’s happening. That’s ninja work.”</h3>
  </body>
</html>

